.o-header {
  height: inherit;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main;
}

.o-header__left-icon {
  flex: 0 0 2.25rem;
  text-align: center;
}

.o-header__title {
  flex: 100;
  font-size: 1.25em;
  text-align: center;
  color: $base;
}

.o-header__right-icon {
  flex: 0 0 2.25rem;
  text-align: center;
  height: 100%;
}
