.a-btn__edit {
  @include btn;
  background-color: $info;

  &:hover {
    background-color: darken($info, 10%);
    color: $base;
  }
}

.a-btn__delete {
  @include btn;
  background-color: $accent;

  &:hover {
    background-color: darken($accent, 10%);
    color: $base;
  }
}

.a-btn__back {
  @include btn;
  background-color: $secondary;

  &:hover {
    background-color: darken($secondary, 10%);
    color: $base;
  }
}

.a-btn__submit {
  @include btn;
  background-color: $main;

  &:hover {
    background-color: darken($main, 10%);
    color: $base;
  }
}
