.m-list-links__item-link {
  display: flex;
  align-items: center;
  min-height: 2.75em;
  padding: 0.5em 1em;
  line-height: 1.4;
  text-decoration: none;
  background-color: $base;

  .m-list-links__item:not(:last-child) & {
    border-bottom: solid 1px $border;
  }
}
