$header-height: 3em;
$footer-height: 3em;

.t-csm {
  font-size: 1.2em;
}

// iPhone SE
@include media-breakpoint-down(md) {
  html {
    font-size: 36px;
  }
}

.t-csm__header {
  height: $header-height;
}

.t-csm__main {
  background-color: $background;
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
  padding: 1em 1em;
}

.t-csm__footer {
  height: $footer-height;
  background-color: $base;
}
